
  body {
    --form-col: black;
    --container-border: #aaa;
    --exp-header-col: black;
    --edit-back: --body;
    --delete-back: --body;
    --edit-col: #47c464;
    --delete-col: rgb(235, 85, 85);
  }
  
  body.dark {
    --form-col: white;
    --container-border: #ccc;
    --exp-header-col: #96f5ac;
    --edit-back: --body;
    --delete-back: --body;
    --edit-col: #96f5ac;
    --delete-col: rgb(245, 88, 88);
  }
  
  .container {
    margin: auto;
    width: 100%;
    overflow: auto;
    padding: 1rem 5rem;
  }
  
  .my-form {
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid var(--container-border);
    color: var(--form-col);
    overflow-x: auto;
  }

  #expense-list {
    list-style: none;
  min-width: 465px; /* Add all column's min-width */
  }

  .expense-list-item {
    font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--container-border);
  }

  .exp-date {
  width: 10%;
  text-align: center;
  min-width: 95px;
  }
  
  .exp-cat {
  width: 20%;
  text-align: center;
  min-width: 110px;
  }
  
  .exp-desc {
  width: 35%;
  min-width: 110px;
  }
  
  .exp-amt {
  width: 25%;
  text-align: right;
  min-width: 85px;
  }
  
  .tbl-edit-del {
    width: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 65px;
  }

  .tbl-edit-del i {
    font-size: 1rem;
    border: 1px solid var(--container-border);
    border-radius: 50%;
    margin: 0 0.15rem;
    cursor: pointer;
  }
  
  .tbl-edit {
    color: var(--edit-col);
    padding: 0.25rem 0.2rem 0.2rem 0.3rem;
    background-color: var(--edit-back);
  }
  
  .tbl-delete {
    color: var(--delete-col);
    padding: 0.2rem 0.32rem 0.25rem 0.32rem;
    background-color: var(--delete-back);
  }

  .tbl-edit:hover {
    background-color: var(--edit-col);
    color: black;
    border-color: var(--edit-col);
  }
  
  .tbl-delete:hover {
    background-color: var(--delete-col);
    color: black;
    border-color: var(--delete-col);
  }

  .expense-header {
    color: var(--exp-header-col);
    font-size:1.04rem;
    font-weight: bold;
    border-bottom: 2px solid var(--exp-header-col);
  }
  
  #cat-list {
    list-style: none;
    min-width: 150px; /* Add all column's min-width */
  }

  .cat-cat {
  width: 90%;
  text-align: left;
  min-width: 85px;
  }

@media (max-width: 1055px) {
  .container {
    padding: 1rem 1rem;
  }
}

@media (max-width: 955px) {
  .form-row {
    display: block;
  }
  
  .form-col {
    margin-top: 0.5rem;
    margin-right: 0;
  }
  
  .form-control {
    width: 100%;
  }

  .btn {
      width: 100%;
  }
}