
  body {
    --form-col: black;
  }
  
  body.dark {
    --form-col: white;
  }
  
  .container {
    margin: auto;
    width: 100%;
    overflow: auto;
    padding: 2rem 5rem;
  }
  
  #my-form {
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--form-col);
  }

  .input-group {
    display: flex;
    margin: 1rem 0;
  }

  .input-group-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: rgb(235, 233, 233);
  }

  .btn-sm-log-sign {
    text-decoration: none;
    background-color: #343a40;
    color: white;
    padding: 0.1rem 0.4rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: small;
  }
  
  .btn-sm-log-sign:hover {
    background-color: black;
  }

  label {
      font-size: 0.9rem;
  }

@media (max-width: 1055px) {
  .container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 955px) {
  .form-row {
    display: block;
  }
  
  .form-col {
    margin-top: 0.5rem;
    margin-right: 0;
  }
  
  .form-control {
    width: 100%;
  }

  .btn {
      width: 100%;
  }
}